html{margin:0;
   height:0;

}
body{display:flex;
    background-image:url(../../自主學習計畫MAG/圖庫/thumbnail-1660810762229.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
main{margin: ;
     padding:10px;
     border:1px solid rgba(255, 255, 255, 0.95);
     border-radius:10px;
     background-color: rgba(255, 255, 255, 0.95);
     box-shadow: 1px 1px 6px 2px #00000075 inset;
}

.quote{margin:auto; 
    width:700px;
    text-align:center;
    font-size: 25px;
    font-weight: 700;

}
.quote p{text-align: end;
    font-size: 15px;

}
.quote strong{color:rgb(0, 221, 255);
    font-size:40px ;

}
.overview{display:flex;
          font-size:20px ;

}
.overview ul{width:600px;

}
.overview  img{width:400px;

}
.overview figure{margin: auto;
                 border:1px solid #ffffff;
                 background-color: rgb(186, 249, 223);
                 font-size: 8px;
                 box-shadow: 1px 1px 3px 0.5px #735555 ;

}
aside{margin-left:40px ;
    

}

.menu{padding:12px;
      border:1px solid rgba(255, 255, 255, 0.861);
      border-radius: 15px;
      width:150px;
      background-color: rgba(255, 255, 255, 0.861);
      box-shadow: 1px 1px 6px 2px #00000075 inset;
}
.menu h3{padding-left: 20px;
         border-left: 4px solid #ae575784;
}
.menu ul{
  padding-left:10px ;
  list-style:none;
  text-decoration:none;
}

.menu li{
  margin:5px 0;
}
.menu a{
  font-size: 18px;
  font-weight:600;
  color:#00000075;
  text-decoration:none;
}

.menu a:hover{
  text-decoration:underline double;
  color:#735555;
}


           





